<footer class="b-footer">
        <!--mobile menu-->
        <nav class="page__panel js-mmenu">
            <ul class="m-menu">
                <li class="m-menu__item">
                    <label class="m-menu__label">Меню</label>
                </li>
                <li class="m-menu__item">
                    <a href="#" class="m-menu__link">Протезирование</a>
                </li>
                <li class="m-menu__item">
                    <a href="#" class="m-menu__link">Ортопедия</a>
                </li>
                <li class="m-menu__item">
                    <a href="#" class="m-menu__link">Реабилитация</a>
                </li>
                <li class="m-menu__item">
                    <a href="#" class="m-menu__link">Специалистам</a>
                </li>
                <li class="m-menu__divider"></li>
                <li class="m-menu__item">
                    <a href="about.html" class="m-menu__link">О компании</a>
                </li>
                <li class="m-menu__item">
                    <a href="contacts.html" class="m-menu__link">Контакты</a>
                </li>
                <li class="m-menu__item">
                    <a href="sertificates.html" class="m-menu__link">Сертификаты</a>
                </li>
                <li class="m-menu__item">
                    <a href="specialists.html" class="m-menu__link">Специалисты</a>
                </li>
                <li class="m-menu__item">
                    <a href="quetions.html" class="m-menu__link">Вопросы</a>
                </li>
                <li class="m-menu__item">
                    <a href="reviews.html" class="m-menu__link">Отзывы</a>
                </li>
            </ul>
        </nav>
        <!--/mobile menu-->
        <!--order form-->
        <div class="b-footer__form">
            <div class="g-container">
                <form class="f-form">
                    <div class="f-form__header">
                        <span class="f-form__title">Обратная связь</span>
                        <p>Если у вас есть вопросы или вы хотите заказать товар, нужно заполнить поля, отправить заявкуи мы вам обязательно перезвоним</p>
                    </div>

                    <div class="g-input-field">
                        <label class="g-visuallyhidden">Ваше имя</label>
                        <input type="text" class="g-input" placeholder="Ваше имя" required />
                    </div>
                    <div class="g-input-field">
                        <label class="g-visuallyhidden">Ваше имя</label>
                        <input type="email" class="g-input" placeholder="Email" required />
                    </div>
                    <div class="g-input-field">
                        <label class="g-visuallyhidden">Комментарий</label>
                        <textarea class="g-textarea" placeholder="Комментарий"></textarea>
                    </div>
                    <div class="g-text-center">
                        <button type="submit" class="f-form__btn">Отправить заявку</button>
                    </div>
                </form>
            </div>
        </div>
        <!--/order form-->
        <!--sole-->
        <div class="b-footer__sole">
            <div class="g-container">
                <span class="b-footer__copyright">Copyright by АЕ. БРИК <i class="icon-copyright">&nbsp;</i> 2011-2016</span>
            </div>
        </div>
        <!--/sole-->
    </footer>
    <!--/footer-->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')</script>
    <script src="js/app.min.js"></script>