<header class="b-header">
        <div class="b-header__top">
            <div class="g-container">
                <a href="index.html" class="h-logo">
                    <figure class="h-logo__inner">
                        <img src="img/logo.png" class="h-logo__img" />
                        <figcaption class="h-logo__caption">
                            <span class="h-logo__title">Компания «АЕ. Брик»</span>
                            Официальный представитель с 1997 года
                        </figcaption>
                    </figure>
                </a>
                <!--mobile header-top content-->
                <ul class="h-top h-top--xs">
                    <li class="h-top__item">
                        <a href="tel:+380445696929" class="h-top__tel">
                            <span class="g-light-text">(044) </span>569 69 29
                        </a>
                    </li>
                    <li class="h-top__item">
                        <button type="button" class="h-top__callback" data-modal="#callback">
                            <i class="icon-phone">&nbsp;</i>
                        </button>
                    </li>
                    <li class="h-top__item">
                        <button type="button" class="h-top__search js-search-toggle">
                            <i class="icon-search">&nbsp;</i>
                        </button>
                    </li>
                    <li class="h-top__item">
                        <button type="button" class="h-top__order" data-modal="#order">
                            Отправить заявку
                        </button>
                    </li>
                    <li class="h-top__item">
                        <button type="button" class="h-top__menu js-mmenu-toggle">
                            <i class="icon-menu">&nbsp;</i>
                        </button>
                    </li>
                </ul>
                <!--/mobile header-top content-->
                <!--desktop top-header content-->
                <ul class="h-top h-top--xl">
                    <li class="h-top__item">
                        <a href="contacts.html" class="h-top__addr"><span class="g-light-text">г.Киев</span>, ул.Раисы Окипной, 4</a>
                    </li>
                    <li class="h-top__item">
                        <a href="tel:+380445696929" class="h-top__tel">
                            <span class="g-light-text">(044) </span>569 69 29
                        </a>
                    </li>
                    <li class="h-top__item">
                        <button type="button" class="h-top__callback" data-modal="#callback">
                            <span class="g-dot-border">Обратный звонок</span>
                        </button>
                    </li>
                    <li class="h-top__item">
                        <button type="button" class="h-top__search js-search-toggle"><i class="icon-search">&nbsp;</i></button>
                        <button type="button" class="h-top__order" data-modal="#order">Отправить заявку</button>
                    </li>
                </ul>
                <!--/desktop top-header content-->
            </div>
        </div><!--/.b-header__top-->
        <div class="b-header__main">
            <nav class="g-container">
                <!--desktop main menu-->
                <ul class="h-menu">
                    <li class="h-menu__item">
                        <a href="about.html" class="h-menu__link">О компании</a>
                    </li>
                    <li class="h-menu__item">
                        <a href="contacts.html" class="h-menu__link">Контакты</a>
                    </li>
                    <li class="h-menu__item">
                        <a href="sertificates.html" class="h-menu__link">Сертификаты</a>
                    </li>
                    <li class="h-menu__item">
                        <a href="specialists.html" class="h-menu__link current">Специалисты</a>
                    </li>
                    <li class="h-menu__item">
                        <a href="questions.html" class="h-menu__link">Вопросы</a>
                    </li>
                    <li class="h-menu__item">
                        <a href="reviews.html" class="h-menu__link">Отзывы</a>
                    </li>
                </ul>
                <!--/desktop main menu-->
            </nav>
        </div><!--/.b-header__main-->
        <div class="b-header__catalog js-sticky-header">
            <nav class="g-container">
                <!--desktop catalog menu-->
                <ul class="h-cat js-menu">
                    <li class="h-cat__item">
                        <a href="catalog.html" class="h-cat__link">Протезирование</a>
                        <ul class="h-subcat">
                            <li class="h-subcat__item">
                                <a href="catalog-inner.html" class="h-subcat__link">Комфорт и безопасность для активных пользователей протезов</a>
                            </li>
                            <li class="h-subcat__item">
                                <a href="catalog-inner.html" class="h-subcat__link">Линия C-Leg ®</a>
                            </li>
                            <li class="h-subcat__item">
                                <a href="catalog-inner.html" class="h-subcat__link">Протезирование нижних конечностей</a>
                            </li>
                            <li class="h-subcat__item">
                                <a href="catalog-inner.html" class="h-subcat__link">Протезирование верхних конечностей</a>
                            </li>
                            <li class="h-subcat__item">
                                <a href="catalog-inner.html" class="h-subcat__link">Детское протезирование верхних и нижних конечностей</a>
                            </li>
                            <li class="h-subcat__item">
                                <a href="catalog-inner.html" class="h-subcat__link">Спортивные протезы</a>
                            </li>
                            <li class="h-subcat__item">
                                <a href="catalog-inner.html" class="h-subcat__link">Водостойкий протез Aqualine</a>
                            </li>
                            <li class="h-subcat__item">
                                <a href="catalog-inner.html" class="h-subcat__link">Средства по уходу за кожей Derma</a>
                            </li>
                            <li class="h-subcat__item">
                                <a href="catalog-inner.html" class="h-subcat__link">Чехлы на культю ОТТО БОКК Чехлы на культю*</a>
                            </li>
                            <li class="h-subcat__item">
                                <a href="catalog-inner.html" class="h-subcat__link">Защита и уход – чехлы на культю Derma Seal*</a>
                            </li>
                            <li class="h-subcat__item">
                                <a href="catalog-inner.html" class="h-subcat__link">Easy-Proth® вспомогательный мешок для одевания протеза</a>
                            </li>
                            <li class="h-subcat__item">
                                <a href="catalog-inner.html" class="h-subcat__link">Компрессионные чехлы на культю</a>
                            </li>
                            <li class="h-subcat__item">
                                <a href="catalog-inner.html" class="h-subcat__link">Протез голени</a>
                            </li>
                            <li class="h-subcat__item">
                                <a href="catalog-inner.html" class="h-subcat__link">Косметические протезы пальцев</a>
                            </li>
                            <li class="h-subcat__item">
                                <a href="catalog-inner.html" class="h-subcat__link">Протезирование в Германии</a>
                            </li>
                        </ul>
                    </li>
                    <li class="h-cat__item">
                        <a href="#" class="h-cat__link">Ортопедия</a>
                        <ul class="h-subcat">
                            <li class="h-subcat__item">
                                <a href="#" class="h-subcat__link">Ортопедические стельки</a>
                            </li>
                            <li class="h-subcat__item">
                                <a href="#" class="h-subcat__link">Полустельки, силиконовая продукция</a>
                            </li>
                            <li class="h-subcat__item">
                                <a href="#" class="h-subcat__link">Инвалидные коляски для взрослых</a>
                            </li>
                            <li class="h-subcat__item">
                                <a href="#" class="h-subcat__link">Инвалидные коляски для детей</a>
                            </li>
                            <li class="h-subcat__item">
                                <a href="#" class="h-subcat__link">Насадки на унитаз</a>
                            </li>
                        </ul>
                    </li>
                    <li class="h-cat__item">
                        <a href="#" class="h-cat__link">Реабилитация</a>
                        <ul class="h-subcat">
                            <li class="h-subcat__item">
                                <a href="#" class="h-subcat__link">Поддерживающие бандажи на бедро</a>
                            </li>
                            <li class="h-subcat__item">
                                <a href="#" class="h-subcat__link">НАКОЛЕННИК для протеза голени</a>
                            </li>
                            <li class="h-subcat__item">
                                <a href="#" class="h-subcat__link">ЛАЙНЕРЫ С ТЕХНОЛОГИЕЙ SKINGUARD</a>
                            </li>
                            <li class="h-subcat__item">
                                <a href="#" class="h-subcat__link">Средства по уходу за кожей Derma</a>
                            </li>
                            <li class="h-subcat__item">
                                <a href="#" class="h-subcat__link">Easy-Proth® вспомогательный мешок для одевания протеза</a>
                            </li>
                            <li class="h-subcat__item">
                                <a href="#" class="h-subcat__link">Защита и уход – чехлы на культю Derma Seal*</a>
                            </li>
                            <li class="h-subcat__item">
                                <a href="#" class="h-subcat__link">Чехлы на культю ОТТО БОКК Чехлы на культю*</a>
                            </li>
                            <li class="h-subcat__item">
                                <a href="#" class="h-subcat__link">Компрессионные чехлы на культю</a>
                            </li>
                        </ul>
                    </li>
                    <li class="h-cat__item">
                        <a href="#" class="h-cat__link">Специалистам</a>
                        <ul class="h-subcat">
                            <li class="h-subcat__item">
                                <a href="#" class="h-subcat__link">КАТАЛОГИ</a>
                            </li>
                            <li class="h-subcat__item">
                                <a href="#" class="h-subcat__link">Оборудование для протезно-ортопедических мастерских</a>
                            </li>
                            <li class="h-subcat__item">
                                <a href="#" class="h-subcat__link">Комплектующие для протезов верхних конечностей</a>
                            </li>
                            <li class="h-subcat__item">
                                <a href="#" class="h-subcat__link">Комплектующие для протезов нижних конечностей</a>
                            </li>
                            <li class="h-subcat__item">
                                <a href="#" class="h-subcat__link">Материалы для протезно-ортопедических изделий</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!--/desktop catalog menu-->
            </nav>
        </div><!--/.b-header__catalog-->
        <!--search form-->
        <div class="b-search js-search">
            <div class="b-search__wrapper">
                <div class="b-search__inner">
                    <div class="b-search__container">
                        <span class="b-search__title">Введите слово и нажмите Enter</span>
                        <form>
                            <div class="g-row">
                                <div class="g-col g-col--two-thirds">
                                    <input type="text" class="b-search__input" placeholder="Что будем искать?" />
                                </div>
                                <div class="g-col g-col--one-third">
                                    <button type="submit" class="b-search__btn">
                                        Найти
                                    </button>
                                </div>
                            </div>
                        </form>
                        <button type="button" class="b-search__close">
                            <i class="icon-cancel">&nbsp;</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--/search form-->
    </header>
    <!--/header-->
