<div class="modal" id="callback">
            <form class="modal__content">
                <span class="g-title">Заказать обратный звонок</span>
                <p>Укажите Ваше имя и номер телефона, и мы перезвоним Вам в ближайшее время</p>
                <div class="g-row">
                    <div class="g-col g-col--one-half">
                        <div class="g-input-field">
                            <label class="g-visuallyhidden">Ваше имя</label>
                            <input type="text" class="g-input" placeholder="Ваше имя" required />
                        </div>
                    </div>
                    <div class="g-col g-col--one-half">
                        <div class="g-input-field">
                            <label class="g-visuallyhidden">Ваш телефон</label>
                            <input type="text" class="g-input js-phone-input" placeholder="Номер телефона" required />
                        </div>
                    </div>
                </div>
                <button type="submit" class="g-btn">Отправить</button>
            </form>
        </div>

        <div class="modal" id="order">
            <form class="modal__content">
                <span class="g-title">Отправить заявку</span>
                <p>Если у вас есть вопросы или вы хотите заказать товар, нужно заполнить поля, отправить заявку и мы вам обязательно перезвоним </p>
                <div class="g-row">
                    <div class="g-col g-col--one-half">
                        <div class="g-input-field">
                            <label class="g-visuallyhidden">Ваше имя</label>
                            <input type="text" class="g-input" placeholder="Ваше имя" required />
                        </div>
                    </div>
                    <div class="g-col g-col--one-half">
                        <div class="g-input-field">
                            <label class="g-visuallyhidden">Ваш телефон</label>
                            <input type="text" class="g-input js-phone-input" placeholder="Номер телефона" required />
                        </div>
                    </div>
                </div>
                <div class="g-input-field">
                    <label class="g-visuallyhidden">Комментарий</label>
                    <textarea class="g-textarea" placeholder="Комментарий"></textarea>
                </div>
                <button type="submit" class="g-btn">Отправить</button>
            </form>
        </div>
