@import "base";
html,
button,
input,
select,
textarea {
    color: $text-color;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

img{
    max-width: 100%;
    height: auto;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

/* Base Styles */
html{
    height:100%;
    line-height: 1;
}

.page{//body style
    min-height:100%;
    line-height: 1;
    font-family: $font-regular, Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
    background:#f9f9fc;
}

.page__content{
    min-height:250px;
    @include font-size($project-font-size);
    line-height:strip-units($project-line-height/$project-font-size);
}

/* Typography*/
h1, h2, h3, h4, h5, h6, .g-title, .g-subtitle{
  margin-top: 0;
  margin-bottom: 15px;
  line-height:1;
  color:$title-color;
  font-family:$font-title;
  font-weight:700;
}
.g-title{
    display:block;
    margin-bottom: 35px;
    font-size:rem(28px);
    text-shadow:1px 1px 4px rgba(#000, .1);

    @include media($tablet){
        @include font-size(40px);
    }
}

.g-subtitle{
    display:block;
    @include font-size(24px);
    text-shadow:1px 1px 3px rgba(#000, .1);
}


.g-light-text{
    color:$text-color-light;
}

.g-dot-border{
    display:inline-block;
    line-height:1;
    border-bottom:1px dotted $text-color;

    @include transition-property(color, border-color);
    @include transition-timing-function(ease-in);
    @include transition-duration(.2s);
}

/* Links */
a {
  color: $primary; }

em, i{
    font-family:$font-italic;
}

b, strong{
    font-weight:700;

    em, i{
        font-family:$font-bold-italic;
    }
}

/* Lists */
ul {
    list-style: disc outside; }
ol {
    list-style: decimal outside; }
ol, ul {
    margin-top: 0; }

ul ul,
ul ol,
ol ol,
ol ul {
    margin: $project-line-height/2 0 $project-line-height/2 30px;
}

.g-clearlist{
    list-style-type:none;
    margin:0;
    padding:0;
}

/* Blockquote */
blockquote{
    font-size:120%;
    line-height:1.6;
    font-style: italic;
    padding: 0 0 0 30px;
    border-left:2px solid $primary;
}
cite{
    display:block;
    font-size:75%;
}

/* Code */
code {
    padding:2px 5px;
    margin:0 2px;
    font-size: 90%;
    white-space: nowrap;
    background: #F1F1F1;
    border: 1px solid $border-color;
    border-radius:$border-radius;
}
pre > code {
  display: block;
  padding:10px 15px;
  white-space: pre;
}


/* Spacing */
p {
  margin-top: 0; }


pre,
blockquote,
dl,
figure,
fieldset,
table,
p,
ul,
ol{
    margin-bottom: $project-line-height;
}

/* Misc */
hr {
    margin: 2*$project-line-height 0;
    border-width: 0;
    border-top: 1px solid $border-color;
}

/* Transitions */
a, button, input[type="button"], input[type="submit"],
#{$all-text-inputs}, select, .g-btn{
    @include transition-property(border-color,color,background-color, box-shadow, transform);
    @include transition-duration(.2s);
    @include transition-timing-function(ease-in);
}
