@import "base";

/*Modal Windows*/
.overlay{
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    z-index:3000;
    display:none;
}

/*Loader*/
.loader{
    position:absolute;
    width:32px;
    height:32px;
    background:url('../img/loader.gif') center center no-repeat;
    opacity:1;
    z-index:3200;
    display:none;
}

.modal{
    position:absolute;
    display:none;
    box-sizing:border-box;
    width:96%;
    max-width:600px;
    background:#000;
    background:rgba(0,0,0,0.2);
    border-radius:10px;
    padding:8px;
    z-index:3100;
}

.modal--wide{
    max-width:800px;
}

.modal__content{
    border-radius:$border-radius;
    background:#fff;
    padding:20px 10px;
    margin:0;
    @include font-size($project-font-size);

    @include media($small){
        padding:20px;
    }

    .g-input,
    .g-select,
    .g-textarea{
        margin-bottom:10px;
    }
}
.modal__close{
    @extend .g-clearbutton;
    position:absolute;
    top:10px;
    right:10px;
    color:$primary;
    @include font-size(18px);
}
