@import "base";

/* Utilities */
.g-text-center{text-align:center;}
.g-text-left{text-align:left;}
.g-text-right{text-align:right;}

img.g-full-width{clear:both;display:block;width:100%;height:auto;margin:0 0 0 0;}

.g-img-left,
.g-img-right{
    display:block;
    @extend .g-max-full-width;
}
@include media($tablet){
    .g-img-left{
        float:left;
        @include px2rem(margin, 0 20px 9px 0);
    }
    .g-img-right{
        float:right;
        @include px2rem(margin, 0 0 20px 9px);
    }
}


.g-full-width {
  width: 100%;
  box-sizing: border-box;
}
.g-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}


.g-img-centered{
    @include img-centered;
}
.g-video-wrap {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.g-video-wrap iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    border:none;
}

.g-shadow-hover{
    @include transition-property(box-shadow, border-color);
    @include transition-duration(.3s);
    @include transition-timing-function(ease);

    &:hover{
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

.g-align{
    position:absolute;
    top:50%; left:50%;
    @include transform(translate(-50%, -50%));
}

.g-valign{
    position:relative;
    top:50%;
    @include transform(translateY(-50%));
}

.g-hidden {
    display: none !important;
    visibility: hidden;
}

.g-visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.g-invisible {
    visibility: hidden;
}

.g-clearfix{
    @include clearfix; //bourbon clearfix
}
.lt-ie9{
    .g-clearfix{
        @include clear-fix();
    }
}

.no-js .js-lazyimg{
    display:none;
}

